# Node.js dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# System files
.DS_Store
.idea/
*.log
*.tmp
*.swp

# Deployment directories
.vercel/
.netlify/
_site/

# Temporary build directories and caches
scripts/smoke/*-main/
scripts/memory/project/src/pages/
benchmark/projects/
benchmark/results/
test-results/
.turbo/
.eslintcache
.pnpm-store/

# Astro-specific ignores
*.astro/
env.d.ts
packages/astro/src/**/*.prebuilt.ts
packages/astro/src/**/*.prebuilt-dev.ts
packages/astro/test/units/_temp-fixtures/*
!packages/astro/test/units/_temp-fixtures/package.json
packages/integrations/**/.netlify/
packages/**/test/**/fixtures/**/.astro/
packages/**/test/**/fixtures/**/env.d.ts
packages/**/e2e/**/fixtures/**/.astro/
packages/**/e2e/**/fixtures/**/env.d.ts
examples/**/.astro/
examples/**/env.d.ts

# Environment variables
*.env

# Package manager lock files
package-lock.json
.pnpm-lock.yaml
yarn.lock

# IDE configurations
*.code-workspace
.vscode/

# Coverage and test result folders
.nyc_output/
coverage/
.v8/

# ESlint
eslint.config.js
.eslintcache

# Turbo repo cache
.turbo/

# Miscellaneous
.eslintcache